@page
@model EFCore_UseCase.Pages.ProductCategory.CreateModel
@{

    ViewData["Title"] = "Create Product Category";

}


<div class="text-center">
    <h1 class="display-8 text-left">Create Product Category</h1>
    <hr />
        <form  method="post">
            <div class="form-group col-md-6">
                <input name="Name" class="form-control" placeholder="Category Name" />
            </div>
            <div class="form-group col-md-6">
                <input type="submit" value="Save" class="btn btn-success btn-block" />
            </div>

        </form>
    
</div>
